@model OrderViewModel
@{
    ViewData["Title"] = "Оформление заказа";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Оформление заказа</h2>
</div>
<form method="post">
    @if (Model != null && Model.Items.Count > 0 && Model.Items != null)
    {
        <div class="row justify-content-center mt-3">
            <div class="col">
                <table class="table table-borderless">
                    <thead>
                        <tr align="center">
                            <th><h2>Информация о покупателе</h2></th>
                            <th><h2>Информация о заказе</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-50 p-4">
                                <p>
                                    <label class="form-label" asp-for="DeliveryUserInfo.UserName"></label>
                                    <br />
                                    <input class="form-control" asp-for="DeliveryUserInfo.UserName" />
                                    <span asp-validation-for="DeliveryUserInfo.UserName"></span>
                                </p>
                                <p>
                                    <label class="form-label" asp-for="DeliveryUserInfo.Adress"></label>
                                    <br />
                                    <input class="form-control" asp-for="DeliveryUserInfo.Adress" />
                                    <span asp-validation-for="DeliveryUserInfo.Adress"></span>
                                </p>
                                <p>
                                    <label class="form-label" asp-for="DeliveryUserInfo.Phone"></label>
                                    <br />
                                    <input class="form-control" asp-for="DeliveryUserInfo.Phone" />
                                    <span asp-validation-for="DeliveryUserInfo.Phone"></span>
                                </p>
                                <p>
                                    <label class="form-label" asp-for="DeliveryUserInfo.DeliveryDate"></label>
                                    <br />
                                    <input class="form-control" asp-for="DeliveryUserInfo.DeliveryDate" />
                                    <span asp-validation-for="DeliveryUserInfo.DeliveryDate"></span>
                                </p>
                                <p>
                                    <label class="form-label" asp-for="DeliveryUserInfo.Comment"></label>
                                    <br />
                                    <input class="form-control" asp-for="DeliveryUserInfo.Comment" />
                                    <span asp-validation-for="DeliveryUserInfo.Comment"></span>
                                </p>
                            </td>

                            <td class="w-50 p-4">
                                <table class="table table-responsive
                                         table-striped table-hover mb-5 caption-top">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col">#</th>
                                            <th scope="col">Наименование товара</th>
                                            <th scope="col">Цена, руб.</th>
                                            <th scope="col">Количество, шт.</th>
                                            <th scope="col">Стоимость, руб.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.Items.Count; i++)
                                        {
                                            <tr align="center" class="align-baseline">
                                                <td class="fw-bold">@(i + 1)</td>
                                                <td align="left">@Model.Items[i].Product.Name</td>
                                                <td align="left">
                                                    @Model.Items[i].Product.Cost.ToString("c")
                                                </td>
                                                <td>@Model.Items[i].Quantity</td>
                                                <td class="fw-bold">
                                                    @Model.Items[i].Cost.ToString("c")
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot class="table-borderless ">
                                        <tr align="center">
                                            <th colspan="5">
                                                Общая стоимость заказа: @Model.TotalCost?.ToString("c")
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-outline-danger" type="submit"
                    asp-controller="Order"
                    asp-action="Buy">
                Оплатить заказ
            </button>
        </div>
    }
    else
    {
        <div class="text-center">
            <h2 class="row-title">Нет заказа для оформления!</h2>
        </div>
    }
</form>

<div class="text-center m-5">
    <a class="btn btn-outline-success"
       asp-controller="Home"
       asp-action="Index">
        Продолжить покупки
    </a>
</div>