@using OnlineShop.Db.Models
@model ProductViewModel
@{
    ViewData["Title"] = "Редактирование товара";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Редактирование товара</h2>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="row justify-content-center mt-3">
        <div class="col-6 mb-3">
            <input type="hidden" name="Id" value="@Model.Id" />
            <p>
                <div class="text-center">
                    <img src="/@Model.ThumbnailsPhotoPath" class="rounded" alt="...">
                </div>
            </p>
            <p>
                <label class="form-label" asp-for="Name"></label><br />
                <input class="form-control" asp-for="Name" value="@Model.Name" />
                <span asp-validation-for="Name"></span>
            </p>
            <p>
                <label class="form-label" asp-for="Cost"></label><br />
                <input class="form-control" asp-for="Cost" value="@Model.Cost" />
                <span asp-validation-for="Cost"></span>
            </p>
            <p>
                
            <tr>
                
                <td><span>Текущая категория</span></td>
                    <p class="text-decoration-underline">@Model.CurrentCategoryName.</p>
            </tr>
            </p>
            <label asp-for="AvailableCategory" class="form-label"></label>
            <select asp-for="CategoryId" class="form-select" aria-label="Пример выбора по умолчанию">

                <option selected>Откройте это меню выбора</option>
                @foreach (var category in Model.AvailableCategory)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            <p>
                <label class="form-label" asp-for="Description"></label><br />
                <textarea class="form-control" asp-for="Description" value="@Model.Description"></textarea>
                <span asp-validation-for="Description"></span>
            </p>
            <p>
                <label>Загрузить изображение</label>
                <input type="file" name="UploadedFile" class="form-control" />
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-outline-success" type="submit">
            Редактировать
        </button>
    </div>
</form>