@model List<UserViewModel>
@{
    ViewData["Title"] = "Пользователи";
}

<div class="row mt-3">
    <div class="col-12 mb-3">
        <div class="text-center text-uppercase text-success mb-5 mt-5">
            <h2 class="row-title">Пользователи</h2>
        </div>

        @if (Model != null && Model.Count > 0)
        {
            <div class="row justify-content-center mt-3">
                <div class="col-12">
                    <div class="text-end">
                        <a class="btn btn-outline-success mb-2 mt-2"
                           asp-area="Admin"
                           asp-controller="User"
                           asp-action="Add">
                            Добавить нового пользователя
                        </a>
                    </div>
                    <table class="table table-responsive table-striped table-hover mb-5">
                        <thead>
                            <tr align="center">
                                <th scope="col">#</th>
                                <th scope="col">Email (логин)</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Телефон</th>
                                <th scope="col">Роль</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr align="center" class="align-baseline">
                                    <td class="fw-bold">@(i + 1)</td>
                                    <td align="left">
                                        <a class="text-success"
                                           asp-area="Admin"
                                           asp-controller="User"
                                           asp-action="Detail"
                                           asp-route-userId="@Model[i].Id">
                                            <h5>@Model[i].UserName</h5>
                                        </a>
                                    </td>
                                    <td>@Model[i].FirstName</td>
                                    <td>@Model[i].LastName</td>
                                    <td>@Model[i].Phone</td>
                                    <td>@Model[i].Role</td>
                                    <td align="left">
                                        <a class="text-success"
                                           asp-area="Admin"
                                           asp-controller="User"
                                           asp-action="Detail"
                                           asp-route-userId="@Model[i].Id">
                                            Подробнее
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr align="center">
                                <th colspan="3"></th>
                                <th colspan="3">
                                    Общее количество пользователей: @Model.Count
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="text-center">
                <h2 class="row-title">В хранилище нет пользователей!</h2>
            </div>
            <div class="text-center mt-5">
                <a class="btn btn-outline-success mb-2 mt-2"
                   asp-area="Admin"
                   asp-controller="User"
                   asp-action="Add">
                    Добавить нового пользователя
                </a>
            </div>
        }
    </div>
</div>