@model ProductViewModel
@{
    ViewData["Title"] = "Описание товара";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Описание товара</h2>
</div>

@if (Model != null)
{
    ViewData["Title"] = @Model.Name;

    <div class="row justify-content-center">
        <div class="col-3 mb-3">
            <div class="card h-100 bg-light">
                <img class="card-img-top" src=@Model.PhotoPath alt="Фото товара">
                <div class="card-body text-center">
                    <h4>@Model.Name</h4>
                    <h2 class="text-danger">@Model.Cost.ToString("c")</h2>

                    <a class="btn btn-success"
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@Model.Id">
                        Добавить в корзину
                    </a>
                    <a class="btn btn-outline-secondary mt-3"
                       asp-controller="Favorite"
                       asp-action="Add"
                       asp-route-productId="@Model.Id">
                        Добавить в избранное
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h6>@Model.Description</h6>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h2>Такого товара не существует!</h2>
    </div>
}

<div class="text-center m-5">
    <a class="btn btn-outline-success"
       asp-controller="Home"
       asp-action="Index">
        Продолжить покупки
    </a>
</div>