@model OrderViewModel
@{
    ViewData["Title"] = "Детали заказа";
}

<div class="row mt-3">



    <div class="col-9 mb-3">
        <div class="text-center text-uppercase text-success mb-5 mt-5">
            <h2 class="row-title">Детали заказа</h2>
        </div>
        <form method="post">

            @if (Model != null)
            {
                <input type="hidden" name="Id" value="@Model.Id" />

                <table class="table table-responsive mb-5 caption-top">
                    <tr>
                        <td class="fw-bold border-end border-bottom border-dark">Заказ</td>
                        <td class="border-bottom border-dark">

                            <table class="table table-hover">
                                <tr>
                                    <td class="w-25"><span>ID</span></td>
                                    <td class="w-auto">@Model.Id</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Стоимость</span></td>
                                    <td class="fw-bold w-auto">@Model.TotalCost?.ToString("c")</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Количество позиций</span></td>
                                    <td class="w-auto">@Model.Items.Count</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Количество товаров</span></td>
                                    <td class="w-auto">@Model.ItemsQuantity</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Статус заказа</span></td>
                                    <td class="w-auto">
                                        <p>
                                            <select asp-for="@Model.Status"
                                                    class="form-select list-group-item-success w-50"
                                                    asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()">
                                            </select>
                                        </p>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Время создания заказа</span></td>
                                    <td class="w-auto">@Model.CreationDateOrder</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold border-end border-bottom border-dark">Пользователь</td>
                        <td class="border-bottom border-dark">
                            <table class="table table-hover">
                                <tr>
                                    <td class="w-25"><span>ID</span></td>
                                    <td class="w-auto">@Model.UserId</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold border-end border-bottom border-dark">Покупатель</td>
                        <td class="border-bottom border-dark">
                            <table class="table table-hover p-0 m-0">
                                <tr>
                                    <td class="w-25"><span>ID</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.Id</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Имя</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.UserName</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Телефон</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.Phone</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Адрес</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.Adress</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Дата доставки</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.DeliveryDate.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td class="w-25"><span>Комментарий</span></td>
                                    <td class="w-auto">@Model.DeliveryUserInfo.Comment</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold border-end border-dark">Состав заказа</td>
                        <td class="border-bottom border-dark">
                            <table class="table table-responsive table-striped table-hover caption-top">
                                <thead>
                                    <tr align="center">
                                        <th scope="col">#</th>
                                        <th scope="col">Наименование товара</th>
                                        <th scope="col">Цена, руб.</th>
                                        <th scope="col">Количество, шт.</th>
                                        <th scope="col">Стоимость, руб.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Items.Count; i++)
                                    {
                                        <tr align="center" class="align-baseline">
                                            <td class="fw-bold">@(i + 1)</td>
                                            <td align="left">@Model.Items[i].Product.Name</td>
                                            <td align="left">
                                                @Model.Items[i].Product.Cost.ToString("c")
                                            </td>
                                            <td>@Model.Items[i].Quantity</td>
                                            <td class="fw-bold">@Model.Items[i].Cost.ToString("c")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <div class="text-center mt-5">
                    <button class="btn btn-outline-success" type="submit"
                            asp-area="Admin"
                            asp-controller="Order"
                            asp-action="UpdateOrderStatus"
                            asp-route-orderId=@Model.Id>
                        Обновить статус
                    </button>
                </div>
            }
            else
            {
                <div class="text-center">
                    <h2>Такого заказа не существует!</h2>
                </div>
            }
        </form>
    </div>
</div>