@using OnlineShopWebApp.Areas.Client.Models
@model List<ProductViewModel>
@if (Model != null && Model.Count != 0)
{
    <div class="row mt-3">
        @foreach (var product in Model)
        {
            <div class="col-3 mb-3 d-flex">
                <div class="card shadow h-100 w-100">
                    <!-- Изображение с фиксированной высотой и полной шириной -->
                    <img class="card-img-top" src="/@product.ThumbnailsPhotoPath"
                         alt="Изображение товара"
                         style="height: 300px; width: 100%; object-fit: cover; object-position: center;">

                    <div class="card-body text-center d-flex flex-column">
                        <a class="text-success" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                            <h5>@product.Name</h5>
                        </a>
                        <h2 class="text-danger mt-auto">@product.Cost.ToString("c")</h2>
                        <a class="btn btn-success mt-2" asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id">
                            Добавить в корзину
                        </a>
                        <a class="btn btn-outline-secondary mt-2" asp-controller="Favorite" asp-action="Add" asp-route-productId="@product.Id">
                            Добавить в избранное
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h2>Нет товаров для отображения!</h2>
    </div>
}