@model CartViewModel

<div class="row justify-content-evenly">

    @if (Model != null && Model.Items.Count > 0)
    {
        <div class="col-9">
            <table class="table table-responsive table-striped table-hover mb-5">
                <thead>
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">Наименование товара</th>
                        <th scope="col">Цена, руб.</th>
                        <th scope="col">Количество, шт.</th>
                        <th scope="col">Стоимость, руб.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Items.Count; i++)
                    {
                        <tr align="center" class="align-baseline">
                            <td class="fw-bold">@(i + 1)</td>
                            <td align="left">@Model.Items[i].Product.Name</td>
                            <td align="left">@Model.Items[i].Product.Cost.ToString("c")</td>
                            <td>
                                <a class="btn btn-success me-2"
                                   asp-controller="Cart"
                                   asp-action="Subtract"
                                   asp-route-productId="@Model.Items[i].Product.Id">
                                    -
                                </a>
                                @Model.Items[i].Quantity
                                <a class="btn btn-success ms-2"
                                   asp-controller="Cart"
                                   asp-action="Add"
                                   asp-route-productId="@Model.Items[i].Product.Id">
                                    +
                                </a>
                            </td>
                            <td class="fw-bold">@Model.Items[i].Cost.ToString("c")</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr align="center">
                        <th colspan="2"></th>
                        <th colspan="2">
                            Общая стоимость: @Model.TotalCost.ToString("c")
                        </th>
                        <th colspan="1">
                            <a class="btn btn-success"
                               asp-controller="Order"
                               asp-action="Index">
                                Оформить заказ
                            </a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="row justify-content-center">
            <div class="col-auto mt-0 ">
                <a class="btn btn-outline-danger"
                   asp-controller="Cart"
                   asp-action="Clear"
                   asp-route-userId = "@Model.UserId">
                    Очистить корзину
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="col-auto m-5">
            <h2 class="row-title">В корзине нет товаров!</h2>
        </div>

    }
</div>

<div class="row justify-content-center">
    <div class="col-auto m-5">
        <a class="btn btn-outline-success"
           asp-controller="Home"
           asp-action="Index">
            Продолжить покупки
        </a>
        <a class="btn btn-success"
           asp-controller="Order"
           asp-action="Index">
            Оформить заказ
        </a>
    </div>
